@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

:root {
  --primary: #23180d;
}

body {
  background: #2d2013 !important;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff !important;
  line-height: 22px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #ffff;
}

h2 {
  font-size: 20px;
}

h3 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #d57d1f;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
  color: #d43133;
}
figcaption {
  text-align: center;
  color: #d57d1f;
  text-decoration: none;
}
span {
  font-size: 20px;
}

.img-separator {
  width: 100%;
  object-fit: contain;
}

header {
  display: flex;
  align-items: center;
  height: 85px;
  width: 100%;
  background: var(--primary);
}
.header-buttons {
  width: auto;
  height: auto;
  display: flex;
  gap: 10px;
}
.header-buttons input {
  width: 7rem;
  padding-left: 8px;
  border-radius: 4px;
}
.header-first-button {
  width: 5rem;
  height: 2.5rem;
  background-color: #c52d2f;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.header-sec-button {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
  background: #23180d;
  border: none;
}
.header-sec-button:hover {
  background: #c52d2f;
}
/* .intro-field {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.input-group-btn span {
  background: #fff;
  padding: 8px;
}
.input-group-btn span:hover {
  color: black;
}

.search-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.intro-part {
  text-align: center;
  margin-top: 35px;
}

.browse-name {
  font-size: 20px;
  color: #d57d1f;
}

#center a {
  text-decoration: none;
  color: #c52d2f;
}
#center a:hover {
  color: #d57d1f;
}
#browse-name a {
  text-decoration: none;
  color: #d57d1f;
  font-weight: 600;
}

#footer {
  background: #23180d;
}

#footer {
  background: #23180d;
  padding: 30px 10px;
}
#footer a {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  color: #c52d2f;
}
.pull-right {
  list-style: none;
  gap: 8px;
  text-decoration: none;
}
